@import url(./reset.css);


h1{
  text-align: center;
}

.field{
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.field > div{
  border: 1px solid black;
}

